@charset "utf-8";
/*!
 * @名称：base.css
 * @功能：1 重设浏览器默认样式
 *        2 设置通用原子类
 */

/* 防止用户自定义背景颜色对网页的影响，添加让用户可以自定义字体 */
html {
    /* background:white; */
    color: #333;
    font-family: "Microsoft YaHei";
}
/* 内外边距通常让各个浏览器样式的表现位置不同 */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,p,pre,code,form,fieldset,legend,input,textarea,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
    margin:0;
    padding:0;
}
/* 要注意表单元素并不继承父级 font 的问题 */
body,button,input,select,textarea {
    font:12px  Microsoft YaHei,arial,sans-serif;
}
input,select,textarea {
    font-size:100%;
}
/* 去掉 table cell 的边距并让其边重合 */
table {
    border-collapse:collapse;
    border-spacing:0;
}
/* ie bug：th 不继承 text-align */
th {
    text-align:inherit;
}
/* 去除默认边框 */
fieldset,img {
    border:none;
}
/* ie6 7 8(q) bug 显示为行内表现 */
iframe {
    display:block;
}
/* 去掉 firefox 下此元素的边框 */
abbr,acronym {
    border:none;
    font-variant:normal;
}
/* 一致的 del 样式 */
del {
    text-decoration:line-through;
}
address,caption,cite,code,dfn,em,th,var {
    font-style:normal;
    font-weight:500;
}
/* 去掉列表前的标识，li 会继承 */
ol,ul {
    list-style:none;
}
/* 对齐是排版最重要的因素，别让什么都居中 */
caption,th {
    text-align:left;
}
/* 来自yahoo，让标题都自定义，适应多个系统应用 */
h1,h2,h3,h4,h5,h6 {
    font-size:100%;
    font-weight:500;
}
q:before,q:after {
    content:'';
}
/* 统一上标和下标 */
sub,sup {
    font-size:75%;
    line-height:0;
    position:relative;
    vertical-align:baseline;
}
sup {
    top:-0.5em;
}
sub {
    bottom:-0.25em;
}
/* 让链接在 hover 状态下显示下划线 */
a:hover {
    text-decoration:none;
}
/* 默认不显示下划线，保持页面简洁 */
ins,a {
    text-decoration:none;
    color: #333;
}
/* 去除 ie6 & ie7 焦点点状线 */
a:focus,*:focus {
    outline:none;
}
/* 清除浮动 */
.clearfix:before,.clearfix:after {
    content:"";
    display:table;
}
.clearfix:after {
    clear:both;
    overflow:hidden;
}
.clearfix {
    zoom:1; /* for ie6 & ie7 */
}
.clear {
    clear:both;
    display:block;
    font-size:0;
    height:0;
    line-height:0;
    overflow:hidden;
}
/* 设置显示和隐藏，通常用来与 js 配合 */
.hide {
    display:none;
}
.block {
    display:block;
}
/* 设置浮动，减少浮动带来的 bug */
.fl,
.fr {
    display:inline;
}
.fl {
    float:left;
}
.fr {
    float:right;
}
/* 正文 */
html,
body {
    font-size: 62.5%;
    overflow-x: hidden;
}
.basic ,
.extended {
    padding: 15px;
    border-bottom: 1px solid #bfcbd9;
}
.basic .title,
.atschool .title,
.extended .title {
    text-align: center;
    font-size: 2.0rem;
    padding: 10px 0;
}
.custom-ruleForm {
    padding-bottom: 74px;
}
.avatar-uploader .el-upload {
    width: 100%;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
.avatar-uploader {
	text-align: center;
    border: 1px dashed #bfcbd9;
}
.avatar-uploader .el-upload:hover {
    border-color: #20a0ff;
}
.avatar-uploader-icon {
    font-size: 2.8rem;
    color: #8c939d;
    /* width: 178px;
    height: 178px;*/
    line-height: 148px;
    text-align: center;
}
.avatar {
    width: 178px;
    height: 178px;
    display: block;
}
.el-date-editor.el-input,
.el-select {
    width: 100%;
}
.select-classes {
    width: calc(100% - 40px);
}
.submit-box {
    margin: 0;
    width: 100%;
    background: #FFF;
    padding-top: 15px;
    /* position: fixed;
    left: 0;
    bottom: 0;
    border-top: 1px solid #ddd; */
}
.submit-box .el-form-item__content {
    margin-left: 95px !important;
}
.custom-row-2 {
    border-top: 1px dashed #ddd;
    padding-top: 15px;
}
.i-icon {
    width: 36px;
    height: 36px;
    position: absolute;
    right: 0;
    top: 0;
    text-align: center;
    color: #8c939d;
    font-size: 1.8rem;
}
.atschool {
    /*padding: 0 15px;
    border-top: 1px solid #bfcbd9;*/
}
.el-cascader {
    width: 100%;
}
.p-t-xs {
    padding-top: 22px;
}
.border-dashed-top {
    border-top: 1px dashed #ddd;
}
.custom-input {
    /* width: calc(100% - 72px); */
}
.i-icon-group {
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
}
.i-icon-group .i-icon-item {
    float: left;
    width: 36px;
    height: 36px;
    color: #8c939d;
    font-size: 1.8rem;
    line-height: 36px;
    text-align: center;
}
.custom-bzr {
    width: calc(100% - 40px);
    float: right;
}

.container {
    width: 100%;
    height: 150px;
    overflow: hidden;
    clear: both;
}
.z_photo {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
    border: 1px solid #bfcbd9;
}
.z_photo img {
    width: 100%;
    height: 100%;
}
.z_addImg {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    padding: 5px;
    position: absolute;
    box-sizing: border-box;
}
.z_file {
    width: 100%;
    height: 100%;
    float: left;
}

.z_file input::-webkit-file-upload-button {
    width: 100%;
    height: 100%;
    border: none;
    position: absolute;
    outline: 0;
    opacity: 0;
}

.z_file input#file {
    border: 0;
    width: 100%;
    height: 100%;
    display: block;
    vertical-align: middle;
}
.z_file .el-icon-plus {
    top: 50%;
    left: 50%;
    z-index: -1;
    width: 50px;
    height: 50px;
    font-size: 30px;
    font-weight: 100;
    color: #bfcbd9;
    line-height: 50px;
    margin-top: -25px;
    margin-left: -25px;
    position: absolute;
    text-align: center;
}
/*遮罩层*/

.z_mask {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    display: none;
}

.z_alert {
    width: 300px;
    height: 110px;
    border-radius: 5px;
    background: #fff;
    font-size: 18px;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -150px;
    margin-top: -100px;
}

.z_alert p:nth-child(1) {
    line-height: 60px;
}

.z_alert p:nth-child(2) span {
    display: inline-block;
    width: 50%;
    height: 50px;
    line-height: 50px;
    box-sizing: border-box;
    float: left;
    border-top: 1px solid #ddd;
}

.z_cancel {
    border-right: 1px solid #ddd;
}



